//

$color-white: #fdfdfd;
$color-black: #1d1d1d;

$color-background: #f9eff0;

$color-primary: #ff695b;
$color-primary-dark: #ff5444;
$color-primary-light: #ff7f6f;

$color-shadow: #ff54443f;
$color-stroke: #dde2e8;

// $color-accent: #ff5544;

// $font-headers: "Space Grotesk", sans-serif;
// $font-text: "Poppins", sans-serif; // or Inter
// $font-text: "Inter", sans-serif;

$font-headers: 'DM Sans', sans-serif;
$font-text: 'DM Sans', sans-serif;
