.hero {
  // height: 90vh;
  // center the content
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    width: 50%;
    max-width: 50%;
    &__buttons {
      display: flex;
      gap: 24px;
    }
  }
  &__image {
    img {
      width: 100%;
    }
  }

  //
  //  media queries
  @media (max-width: 768px) {
    &__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 100%;
    }
  }
  // mobile
  @media (max-width: 480px) {
    &__content {
      //
      margin: 0;
    }
  }
}
.heartbeat {
  position: absolute;
  width: 280px;
  height: 125.52px;
  left: 690px;
  top: 192px;

}
.donation__count {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 12px 24px;
  width: 465px;
  height: 72px;
  left: 550px;
  top: 430px;
  background: $color-background;
  border: 2px solid $color-primary;
  box-shadow: 3px 4px 4px $color-shadow;
  border-radius: 12px;  
}
.red {
  color: $color-primary;
}
